html
    {
          box-sizing: border-box;
    }


*, *:before, *:after
    {
          box-sizing: inherit;
          padding: 0; margin: 0;
    }


html, body
    {
          display: block;
          height: 100%;width: 100%;
          overflow: hidden;
    }


ul,li, a
    {
          margin: 0; padding: 0;
          list-style: none;
          text-decoration: none;
    }

.main
    {
          position:absolute;
          height: 100%;
          top :0px;
          left: 0px;

    }


.main-header
    {
          position: fixed;
          height: 200px;
          background-color: #333;
    }


.main-container
    {
          position: absolute;
          height: auto;
          top :100px;
          overflow:auto;
          bottom: 40px;

          font-size: 22px;
    }


.main-footer
    {
          position: absolute;
          bottom: 0px;
          left: 0px;
          height: 40px;
          text-align: center;
          background-color: #333;
          color: #f2f2f2;
          padding: 10px 0px;

          font-size: 20px;
    }


nav
    {
          height: 100px;
          padding: 25px 0px 30px 100px;
          font-size: 40px;
    }


nav a
    {
          color: #f2f2f2;
          padding: 10px 10px;
          text-decoration: none;
    }


nav a:hover
    {
          background: #ddd;
          color: black;
    }

#titre-container
    {
          color: #3795B2;
          background-color: #ED7F10;
          padding:20px 0px;
          text-align: center;
          font-size: 50px;
    }


#index
    {
          color: #E8AB0C;
          background-color: #0DFFA8;
    }


#index-form
    {
          padding: 50px 0px 100px 40px;
    }


#lien1
    {
          color: #E8AB0C;
          background-color: #0DFFA8;
    }


#contact
    {
          color: #9001E8;
          background-color: #E36EE8;
    }


#contact-form
    {
          padding: 50px 60px 80px 60px;
    }


#lien2
    {
          color: #9001E8;
          background-color: #E36EE8;
    }


#cv
    {
          color: #B22477;
          background-color: #5FB25A;
    }


#cv-form
    {
          padding:50px 0px 60px 40px;
    }


#cvform
    {
          width:50%
    }


#lien3
    {
          color: #E8AB0C;
          background-color: #0DFFA8;
    }


#image
    {
          position: absolute;
          margin-top:20px;
          margin-left: 10px;
          width:50px;
          height:50px;
    }


#mise-form
    {
          width:100%;
          background-color: #B57541;
          padding: 10px 25px;
          Color:#FFB466;
          border-radius: 25px;
          box-shadow: 10px 10px #FFB466;
    }
textarea, button, input[type="text"]
    {
          padding: 10px 20px;
          font-size: 22px;

    }
input[type="text"], textarea
    {
          color: #00FF24;
          background-color: #633EB2;
    }
textarea
    {
          width: 100%;
          border-radius: 5px 10px 15px 10px;
    }


button
    {
          border-radius: 20px;
          color: #B52EAE;
          background-color: #EEFF00;

    }

ul, ul li
    {
          list-style-type: disc;
          margin: : 5em;
          padding-left: 40px;
    }


#tableau1
    {
          width: 100%;
    }


td
    {
          width: 50%;
          font-size: 20px;
    }


    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: inline-block;
                max-width: 600px;
                width: 100%;
          }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: inline-block;
                min-width: 600px;
                max-width: 768px;
                width: 100%;
          }
    }

    /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: block;
                min-width: 768px;
                max-width: 992px;
                width: 100%;
          }
    }

    /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)and (max-width: 1200px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: block;
                min-width: 992px;
                max-width: 1200px;
                width: 100%;
          }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: block;
                width: 100%;
          }
    }
